<div class="modal-header">
  <h4 class="modal-title">Dil Bilgisi Ekle</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
</div>
<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <formly-form
      [model]="model"
      [fields]="fields"
      [options]="options"
      [form]="form"
    ></formly-form>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-success submit-button" (click)="onSubmit()">Kaydet</button>
  <button type="button" class="btn btn-light" (click)="closeModal()">Kapat</button>
</div>
