<app-nav style="position: absolute; inset: 0"></app-nav>
<div class="container container-md container-xl">
  <div class="card login">
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <formly-form
          [model]="model"
          [fields]="fields"
          [options]="options"
          [form]="form"
        ></formly-form>
        <div class="d-grid gap-2">
          <button
            type="submit"
            class="submit-button btn btn-primary btn-lg btn-block"
            [disabled]="!form.valid"
          >
            Şifremi Gönder
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
