{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "jsxSingleQuote": true,
  "jsxBracketSameLine": false,
  "trailingComma": "all",
  "bracketSameLine": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 80
      }
    },
    {
      "files": "*.ts",
      "options": {
        "printWidth": 100
      }
    }
  ]
}
